@page
@using System.Data.SqlClient
@using CollaborationWebApplication.Pages.DB
@model CollaborationWebApplication.Pages.Collaboration.CollabDashboardModel
@{
}

<!--Reading name from collab table and displaying as header-->
@{
    string nameQuery = @"SELECT CollabName FROM Collaboration WHERE CollabID =" + Model.CollabID + ";";
    string collabName = "";
    using SqlDataReader nameReader = DBClass.GeneralReaderQuery(nameQuery);
    {
        if (nameReader.Read()){
            collabName = nameReader["CollabName"].ToString();
        }
    }
    <h1>@collabName Dashboard</h1>
}

<div class="report-container">
    <a asp-page="PrintReport" class="btn btn-primary" asp-route-collabID="@Model.CollabID">Print report</a>
</div>


<br />
<br />
<table class="table table-bordered table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>User:</th>
            <th>Content:</th>
        </tr>
    </thead>
    <tbody>
        @{ //query to retrieve chat data
            string chatQuery = @"
        SELECT
        UserData.UserID,
        UserData.FirstName + ' ' + UserData.LastName AS UserName,
        Chat.Content
        FROM Chat
        INNER JOIN UserData ON Chat.UserID = UserData.UserID
        WHERE Chat.CollabID =" + @Model.CollabID + ";";

            SqlDataReader chatReader = DBClass.GeneralReaderQuery(chatQuery);
            //Creates reader for the chat
            while (chatReader.Read()) // Iterating through chat data and displaying it in a table
            {
                <tr>
                    <td>@chatReader["UserName"]</td>
                    <td>@chatReader["Content"]</td>
                </tr>
            }
        }
    </tbody>
</table>


<form method="post" asp-page-handler="AddChat">
    <input type="hidden" asp-for="CollabID" />
 @*    <div class="form-group">
        <label for="userId"> </label>
        <select id="userId" asp-for="NewChat.UserID" class="form-control">
            <option value="" disabled selected>User</option>
            @foreach (var user in Model.CollaborationUsers)
            {
                <option value="@user.Value">@user.Text</option>
            }
        </select>
    </div> *@
    <div class="form-group"> <!-- Form for adding a new chat message -->
        <label asp-for="NewChat.Content">Content</label>
        <textarea asp-for="NewChat.Content" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-dark">Send chat</button>
</form>

<!--ADD USER TABLE AND BUTTON-->
<br />
 
<h2>Users</h2>
<table class="table table-bordered table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @{ // Query to retrieve users in the collaboration
            string userQuery = $@" 
        SELECT
        UserData.UserID,
        UserData.FirstName,
        UserData.LastName
        FROM
        UserData
        INNER JOIN
        CollabUser ON UserData.UserID = CollabUser.UserID
        WHERE
        CollabUser.CollabID = {Model.CollabID};";

            SqlDataReader CollabUserReader = DBClass.GeneralReaderQuery(userQuery);
            // Displaying users in a table
            while (CollabUserReader.Read())
            {
                <tr>
                    <td>@CollabUserReader["FirstName"]</td>
                    <td>@CollabUserReader["LastName"]</td>
                </tr>
            }
        }
    </tbody>
</table>


<!-- Form for adding a user -->
<form method="post" asp-page-handler="AddUser">
    <input type="hidden" name="CollabID" value="@Model.CollabID" />
    <div class="form-group">
        <label for="userId"></label>
        <select id="userId" name="UserID" class="form-control">
            <option value="" disabled selected>Select User</option>
            @foreach (var user in Model.AvailableUsers)
            {
                <option value="@user.Value">@user.Text</option>
            }
        </select>
        <button type="submit" class="btn btn-dark">Add User</button>
    </div>
</form>
<br />

<!--ADD KNOWLEDGE ITEM TABLE AND BUTTON-->
<br />
<h2>Knowledge Items</h2>
<table class="table table-bordered table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>Title:</th>
            <th>Information:</th>
            <th>Created By:</th>
        </tr>
    </thead>
    <tbody>
        @{ // Query to retrieve knowledge items associated with the collaboration
            string knowledgeQuery = $@"
        SELECT
        CollabKnowledge.CollabID,
        CollabKnowledge.KnowledgeItemID,
        KnowledgeItem.KnowledgeTitle,
        KnowledgeItem.KnowledgeInformation,
        UserData.FirstName + ' ' + UserData.LastName AS CreatedBy
        FROM
        KnowledgeItem
        INNER JOIN
        CollabKnowledge ON KnowledgeItem.KnowledgeItemID = CollabKnowledge.KnowledgeItemID
        INNER JOIN
        UserData ON KnowledgeItem.UserID = UserData.UserID
        WHERE
        CollabKnowledge.CollabID = {Model.CollabID};"; // Displaying knowledge items in a table

            SqlDataReader CollabKnowledgeReader = DBClass.GeneralReaderQuery(knowledgeQuery);

            while (CollabKnowledgeReader.Read())
            {
                <tr>
                    <td>@CollabKnowledgeReader["KnowledgeTitle"]</td>
                    <td>@CollabKnowledgeReader["KnowledgeInformation"]</td>
                    <td>@CollabKnowledgeReader["CreatedBy"]</td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Form for adding a knowledge item -->
<form method="post" asp-page-handler="AddKnowledgeItem">
    <input type="hidden" name="CollabID" value="@Model.CollabID" />
    <div class="form-group">
        <label for="knowledgeItemId"> </label>
        <select id="knowledgeItemId" name="KnowledgeItemID" class="form-control">
            <option value="" disabled selected>Select a KnowledgeItem</option>
            @foreach (var item in Model.AvailableKnowledgeItems)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
        <button type="submit" class="btn btn-dark">Add Knowledge Item</button>
    </div>
</form>
<br />


<!--ADD PLAN TABLE AND BUTTON-->
<br />
<h2>Plans</h2>
<table class="table table-bordered table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>Name:</th>
            <th>Content:</th>
            <th>Created By:</th>
        </tr>
    </thead>
    <tbody>
        @{ // Query to retrieve plans associated with the collaboration
            string planQuery = $@"
        SELECT
        PlanData.PlanID,
        PlanData.PlanName,
        PlanData.Content,
        UserData.FirstName + ' ' + UserData.LastName AS CreatedBy
        FROM
        PlanData
        INNER JOIN
        CollabPlan ON PlanData.PlanID = CollabPlan.PlanID
        INNER JOIN
        UserData ON PlanData.UserID = UserData.UserID
        WHERE
        CollabPlan.CollabID = {Model.CollabID};";

            SqlDataReader CollabPlanReader = DBClass.GeneralReaderQuery(planQuery);
            // Displaying plans in a table
            while (CollabPlanReader.Read())
            {
                <tr>
                    <td>@CollabPlanReader["PlanName"]</td>
                    <td>@CollabPlanReader["Content"]</td>
                    <td>@CollabPlanReader["CreatedBy"]</td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Form for adding a plan -->
<form method="post" asp-page-handler="AddPlan">
    <input type="hidden" name="CollabID" value="@Model.CollabID" />
    <div class="form-group">
        <label for="planId"> </label>
        <select id="planId" name="PlanID" class="form-control">
        <option value="" disabled selected>Select Plan</option>
            @foreach (var plan in Model.AvailablePlans)
            {
                <option value="@plan.Value">@plan.Text</option>
            }
        </select>
        <button type="submit" class="btn btn-dark">Add Plan</button>
    </div>
</form>


<!--ADD SWOT TABLE AND BUTTON-->
<br />
<h2>SWOT Analyses</h2>
<table class="table table-bordered table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>Swot Name</th>
            <th>Strengths</th>
            <th>Weaknesses</th>
            <th>Opportunities</th>
            <th>Threats</th>
            <th>Created By:</th>
        </tr>
    </thead>
    <tbody>
        @{ // Query to retrieve SWOT analyses associated with the collaboration
            string swotQuery = $@"
        SELECT 
        Swot.SwotName,
        Swot.Strength, 
        Swot.Weakness, 
        Swot.Opportunity, 
        Swot.Threat,
        UserData.FirstName + ' ' + UserData.LastName AS CreatedBy 
        FROM Swot
        INNER JOIN 
        CollabSwot ON Swot.SwotID = CollabSwot.SwotID
        INNER JOIN
        UserData ON Swot.UserID = UserData.UserID
        WHERE CollabSwot.CollabID = {Model.CollabID};";

            SqlDataReader swotReader = DBClass.GeneralReaderQuery(swotQuery);
             // Displaying SWOT analyses in a table
            while (swotReader.Read())
            {
                <tr>
                    <td>@swotReader["SwotName"]</td>
                    <td>@swotReader["Strength"]</td>
                    <td>@swotReader["Weakness"]</td>
                    <td>@swotReader["Opportunity"]</td>
                    <td>@swotReader["Threat"]</td>
                    <td>@swotReader["CreatedBy"]</td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Form for adding a SWOT analysis -->
<form method="post" asp-page-handler="AddSwot">
    <input type="hidden" name="CollabID" value="@Model.CollabID" />
    <div class="form-group">
        <label for="swotId"> </label>
        <select id="swotId" name="SwotID" class="form-control">
            <option value="" disabled selected>Select a SWOT Analysis</option>
            @foreach (var swot in Model.AvailableSwots)
            {
                <option value="@swot.Value">@swot.Text</option>
            }
        </select>
        <button type="submit" class="btn btn-dark">Add SWOT Analysis</button>
    </div>
</form>
<br />

}
